127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
10.193.176.5 saedev01 rus_sae_app_svc_01 sdcgigdcapmdw01
10.193.176.6 saedev02 rus_sae_app_svc_02 sdcgigdcapmdw02
10.77.30.50 rus_any_ldap_bal_01
10.193.176.5 ldapdev01 rus_ldap_app_svc_01
10.193.176.6 ldapdev02 rus_ldap_app_svc_02
{{ ip1 }}    {{ hostname1 }} {{ domain1}}
